/*CSS Reset*/

*{
	/*Zeroes all the margins and elements. 
	Because by default, elements are being added like margins and paddings by browser*/

	margin: 0;
	padding: 0;
	box-sizing: border-box; /*-->accurately measures our elements , that padding and border are not
	added on the top of the element's width*/
}

/*Class selector*/
.sample{
	height: 150px;
	width: 150px;
	border: 2px solid blue;
	background-color: green;


}


/*id Selector*/

#box1{
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid black;
	background-color: orange;
	margin-right: 30px;
		display: inline-block;
	vertical-align: top;
}

#box2{
	height: 150px;
	width: 150px;
	border: 2px solid red;
	padding: 50px;
	background-color: yellow;
	display: inline-block;
	vertical-align: top;
}
