/*CSS reset*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

/*Nav bar*/
nav{
	padding: 0.8rem;
	/*root element default. 80 percent of the default which is 16px*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/*id selector*/
#intro{
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;

}

/*combinator*/

nav > ul{
	list-style-type: none;
}

/*multiple selector*/
nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
	/*allows us to change a block element into an inline element*/
}
#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/*font weight, thickness of tex*/
	font-weight:bold;
	background-color: #c21955;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;

}

#succeed-info h2{
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	/*border: 1px solid black; */
}

#pre-footer{
	padding: 1rem;
	background-color: #34ebe1;

}

#pre-footer div{
	
}
