/*CSS reset*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}


nav {
	padding: 1rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

nav .nav{

	padding: 2rem;

}
nav > ul > li > img{
	height: 5%;
	width: 5%;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	margin-bottom: 1rem;
	background-color: #E0BBE4;
}

#intro p{
	padding: 2rem;
}
#intro button {
	color: hotpink;
	font-weight: bold;
	background-color: #FEC8D8;
	border-radius: 50px;
	font-size: 1rem;
	padding: 1rem;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: middle;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	text-align: center;

}

#pre-footer {
	background-color: #D291BC;
	text-align: center;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;

}


footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer{

	background-color: #FFDFD3;
	text-align: center;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	padding: 1%;
}

#prod{
		/*background-color: #957DAD;*/
		padding: 5%;
		text-align: center;
}


#prod h2 {
	margin-bottom: 1rem;
	text-align: center;
	color: White;
	font-weight: bold;
	padding: 1%;
	background-color: #957DAD;
}

#prod h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#prod .category {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-align: center;

}
#prod img {
	width: 500px;
	height: 250px;
	display: inline-block;
}

#prod .heder{
	display: flex;
}